
body {
  background-color: rgb(30, 30, 30);
  /*background-color: #F5FCFF;*/
  color: rgb(30, 30, 30);
  }

  .box {
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(150, 150, 150, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: lightgoldenrodyellow;
  }

  .box_solid {
    border: black 1px solid;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 10px;
    background: lightgoldenrodyellow;
  }


  .lineNumber {
    width: 20px;
    color: darkred;
  }

  .lineSeperator {
    background-color: darkred;
  }

  .noteCell {
    width: 25px;
    text-wrap: nowrap;   
    color:rgb(30, 51, 88);
    
  }

  
  .noteLine {
    height: 25px;
    font-size: 18px;
    font-weight: bold;
  }

  .noteTable {
    text-align: center;
  }

  .pointer {
    cursor: pointer;
  }

  .title {
    color: white;
    font-size: 26px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    top: -10px;
  }

  .indexLine {
    font-size: 10px;
    font-weight: bold;
  }

  .indexCell {
    width: 25px;
    text-wrap: nowrap;   
    color:rgb(30, 51, 88);
    /*writing-mode: vertical-rl;    */
  }
